doctype basic
html
	head
		title=title
		meta(charset='UTF-8')/

		// ViewPort
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')/

		// CSS
		link(rel="stylesheet" type="text/css" href="/components/semantic/dist/semantic.min.css")

		// Font Awesome CDN
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')/

		block custom
	body
		main
			block main

		include ../partials/script
